<h2>Learning-Portal Courses</h2>
<button (click)="showCourse('Angular Basics')">Angular Basics</button>


@if (selectedCourse === 'Angular Basics') {
<p>
    course: Angular Basics
</p>
<p>
    Duration : 3 Month
</p>
<p>
    Teacher : Tejas Jayanagarkar
</p>
<p>
    Organization: Cliqtros Solutions
</p>
<p>
    Learn Angular fundamentals and components.
</p>
}

<button (click)="showCourse('JavaScript Fundamentals')">JavaScript Fundamentals</button>

@if (selectedCourse === 'JavaScript Fundamentals') {
<p>
    course: JavaScript Fundamentals
</p>
<p>
    Duration : 3 Month
</p>
<p>
    Teacher : Tejas Jayanagarkar
</p>
<p>
    Organization: Cliqtros Solutions
</p>
<p>
    Learn JavaScript basics, functions and objects.
</p>
}
<button (click)="showCourse('HTML & CSS')">HTML & CSS</button>

@if (selectedCourse === 'HTML & CSS') {
<p>
    course: HTML & CSS
</p>
<p>
    Duration : 3 Month
</p>
<p>
    Teacher : Tejas Jayanagarkar
</p>
<p>
    Organization: Cliqtros Solutions
</p>
<p>
    Learn how to create and style web pages.
</p>
}

<hr>

<button routerLink="/contact">Next</button>