h2 {
  margin-bottom: 20px;
}

input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h3 {
  margin: 5px 0 15px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}